<p class="leading-7 [&:not(:first-child)]:mt-6">The Dropdown Menu component introduces:</p>

<ul class="my-6 ml-6 list-disc [&>li]:mt-2 text-sm">
  <li><%= code("app/helpers/components/time_picker.rb") %></li>
  <li><%= code("app/views/components/ui/_time_picker.html.erb") %></li>
  <li><%= code("app/javascript/controllers/ui/time-picker_controller.js") %></li>
</ul>

<p class="leading-7 [&:not(:first-child)]:mt-6">
The method <%= code("render_time_picker") %> defined in <%= code("app/helpers/components/time_picker.rb") %>
accepts two arguments.  <%= code("name")%> and <%= code("value")%>.</p>